@import "customVariables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss';
@import '../node_modules/angular-material-sidemenu/dest/angular-material-sidemenu.css';
@import "style.scss";


body{

   a{
        text-decoration: none;
    } 

    a:hover{
        text-decoration: none;
    }

    li{
        list-style-type: none;
    }
} 

.img-icon img{
	display: inline-block;
    opacity: 0.5;
}





/* HEADER STYLES */





/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
	border: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #30bcc8;
}

.carousel-control.left{
    left: 45px;
}

.carousel-control.right{
    right: 45px;
}

.carousel-control.left span:before,
.carousel-control.right span:before {
    color: #000;
    top: 0px;
    position: absolute;
    left: 1px;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.carousel-inner .img-imac-3{
    transform: rotateY(150deg);
    width: 500px;
    height: 350px;
    position: absolute;
    right: 50px;
}

.carousel-inner .more{
    background-color: #fff;
    border-radius: 18px;
    padding: 7px 12px;
    color: #000;
    position: absolute;
    left: 332px;
    top: 224px;
}

.carousel-inner .img-236{
    width: 306px;
    height: 115px;
    position: absolute;
    right: 203px;
    top: 238px;
    opacity: .2;
}

.carousel-inner h2{
    position: absolute;
    left: 216px;
    width: 372px;
    display: inline-block;
    padding: 31px;
    font-size: 31px;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.carousel-indicators{
    bottom: 15px;
    top: inherit;
    width: 50px;
    margin-left: -25px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.prod-cont{
  max-height: 310px;
  min-height: 310px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  background-color: #fdffff;
  border-radius: 4px;
  overflow: hidden;
}

.prod-cont:hover img{
  width: 100%;
  margin-left: 0px;
  margin-top: -5%;
  opacity: 1;
}




.prod-cont{
    img {
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    transition: all .5s;
      opacity: 0.9;
  }
  h2 a{
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.75);
    color: #000;
    cursor: pointer;
  }

}

.prod-cont h2{
    position: absolute;
    color: #fff;
    width: 200px;
    display: inline-block;
    text-align: center;
    left: 50%;
    margin-left: -100px;
    top: 36%;
}

.auction-items{
	background-color: #dcdcdc;
	padding-top: 15px;
	padding-bottom: 25px;
}

.auction-items .item-cont{
	background-color: #fff;
	border-radius: 3px;
	position: relative;
    box-shadow: 2px 8px 17px 3px #9c9c9c;
    margin-bottom: 20px;
}

.item-price{
	text-align: center;
    padding: 5px;
    color: #7b7b7b;
}

.item-price span{
    border: 1px solid #7b7b7b;
    padding: 5px 12px;
    border-radius: 6px;
    background-color: #fff;
}


.item-cont .text-cont{
	background-color: #f5f5f5;
    padding-top: 5px;
	text-align: center;
}

.item-title{
	padding: 8px;
    margin: 0px;
}

.child-menu.ng-hide {
  transition:0.5s linear all;
  opacity:0;
  position: relative;
  width: 100%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  //transition: all .5s;
}


.admin-left-siderbar li ul{
  display: inline-block;
  position: relative;
  width: 100%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: all .5s;
  a{
    color: #fff;
    transition: all .5s;
    font-family: inherit;
    font-size: 19px;
    text-shadow: 1px 1px 2px #504949, 0 0 1em #464646;
  }
}

.admin-left-siderbar{
  a{
    color: #fff;
    transition: all .5s;
    font-family: inherit;
    font-size: 19px;
    text-shadow: 1px 1px 2px #504949, 0 0 1em #464646;
  }
}

.admin-left-siderbar{
  background-color: #2d2d2d;
}


