<header>
    <div class="">
        <div class="row">
            <div class="col-md-20 col-sm-60">
                <h2><a href="#!/logout">Logout</a></h2>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid" >
    <div class="row">
        <section>
            <div class="col-md-15 col-sm-15">
                <ul class="nav admin-left-siderbar">
                    <li role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                            User <span class="caret"></span>
                        </a>
                        <ul ng-show="bool" class="child-menu dropdown-menu">
                            <li role="presentation"><a href="">All Users</a></li>
                            <li role="presentation"><a href="">Win Users</a></li>
                            <li role="presentation"><a href="">Bind Users</a></li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-toggle"  ng-click="showProduct()"  data-toggle="dropdown" href="#!/product" role="button" aria-haspopup="true" aria-expanded="false">
                            Product <span class="caret"></span>
                        </a>
                        <ul ng-show="{{showCont['product']}}"  class="child-menu dropdown-menu">
                            <li role="presentation"><a ng-click="allProduct()">All Products</a></li>
                            <li role="presentation"><a ng-click="createProduct()">Create Product</a></li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-toggle" ng-click="showAuction()" data-toggle="dropdown" href="#!/auction" role="button" aria-haspopup="true" aria-expanded="false">
                            Auction <span class="caret"></span>
                        </a>
                        <ul ng-show="{{showCont['auction']}}" class="child-menu dropdown-menu">
                            <li role="presentation"><a ng-click="allAuction()">All Auctions</a></li>
                            <li role="presentation"><a ng-click="createProduct()">Create Auction</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul ng-show="bool" class="child-menu dropdown-menu">
                            <li role="presentation"><a href="#">Home</a></li>
                            <li role="presentation"><a href="#">Profile</a></li>
                            <li role="presentation"><a href="#">Messages</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-45 col-sm-45" ng-controller="auctionController">
                <div class=""ng-show="showCont['allProduct']" >
                    <h1>Auctions</h1>
                    <div ng-repeat="auction in auctions" class="col-md-20 col-sm-30">
                        <div >
                            <div class="prod-cont">
                                <h2><a ng-click="singleProduct(auction.id)">{{auction.product_id}}</a></h2>
                                <p class="black-color">{{auction.start}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="showCont['createProduct']"  >
                    <div class="">
                        <form  enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="start">Start Time</label>
                                <input ng-model="Auction.start" id="start"  type="datetime-local">
                            </div>
                            <div class="form-group">
                                <label for="real-price" >Start Price</label>
                                <input type="text" ng-model="Auction.startPrice" id="real-price" class="form-control">
                            </div>
                            <md-input-container>
                                <label>Products</label>
                                <md-select ng-model="Auction.product">
                                    <md-option ng-value="product.id" ng-repeat="product in products">{{ product.name }}</md-option>
                                </md-select>
                            </md-input-container>
                            <button type="submit" ng-click="create(Auction)" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="" ng-show="showCont['singleProduct']"  >
                    <div class="col-md-5"><h2>test</h2></div>
                    <div class="col-md-7"></div>
                </div>
            </div>

        </section>
    </div>
</div>







