<header>
    <div class="">
        <div class="row">
            <div class="col-md-offset-50 col-md-offset-40  col-md-10 col-sm-20">
                <h2><a href="#!/logout">Logout</a></h2>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid" >
    <div class="row">
        <section>
            <div class="col-md-15 col-sm-15">
                <md-sidemenu locked="true">
                    <md-sidemenu-group>
                        <md-sidemenu-content  md-heading="Product">
                            <md-sidemenu-button href="#!/product" ng-click="allProduct()">All Products</md-sidemenu-button>
                            <md-sidemenu-button href="#!/product" ng-click="createProduct()">Create Product</md-sidemenu-button>
                        </md-sidemenu-content>
                        <md-sidemenu-content  md-heading="Auction">
                            <md-sidemenu-button href="#!/auction" ng-click="allAuction()">All Auctions</md-sidemenu-button>
                            <md-sidemenu-button href="#!/auction" ng-click="createAuction()">Create Auction</md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>
                </md-sidemenu>
            </div>
            <div class="col-md-45 col-sm-45" ng-controller="auctionController">
                <div class=""ng-show="showCont['allProduct']" >
                    <h1>Auctions</h1>
                    <div ng-repeat="auction in auctions" class="col-md-20 col-sm-30">
                        <div >
                            <div class="prod-cont">
                                <h2><a ng-click="singleProduct(auction.id)">{{auction.product.name}}</a>
                                    <p class="black-color">{{auction.start}}</p>
                                </h2>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="showCont['createAuction']"  >
                    <div class="">
                        <form  enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="start">Start Time</label>
                                <input ng-model="Auction.start" id="start"  type="datetime-local">
                            </div>
                            <div class="form-group">
                                <label for="real-price" >Start Price</label>
                                <input type="text" ng-model="Auction.startPrice" id="real-price" class="form-control">
                            </div>
                            <md-input-container>
                                <label>Products</label>
                                <md-select ng-model="Auction.product">
                                    <md-option ng-value="product.id" ng-repeat="product in products">{{ product.name }}</md-option>
                                </md-select>
                            </md-input-container>
                            <button type="submit" ng-click="create(Auction)" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="" ng-show="showCont['singleProduct']"  >
                    <div class="col-md-5"><h2>test</h2></div>
                    <div class="col-md-7"></div>
                    <a href="#edit">Edit</a>
                </div>
            </div>

        </section>
    </div>
</div>







