<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-50 col-md-offset-40  col-md-10 col-sm-20">
                <h2><a href="#!/logout">Logout</a></h2>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid" >
    <div class="row">
        <section>
            <div class="col-md-15 col-sm-15">
                <md-sidemenu locked="true">
                    <md-sidemenu-group>
                        <md-sidemenu-content  md-heading="Product">
                            <md-sidemenu-button href="#!/product" ng-click="allProduct()">All Products</md-sidemenu-button>
                            <md-sidemenu-button href="#!/product" ng-click="createProduct()">Create Product</md-sidemenu-button>
                        </md-sidemenu-content>
                        <md-sidemenu-content href="#!/auction" md-heading="Auction">
                            <md-sidemenu-button href="#!/auction" ng-click="allAuction()">All Auctions</md-sidemenu-button>
                            <md-sidemenu-button href="#!/auction" ng-click="createAuction()">Create Auction</md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>
                </md-sidemenu>
            </div>

            <div class="col-md-45 col-sm-45">
                <div class=""ng-show="showCont['allProduct']" >
                    <div ng-controller="AppCtrl" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-app="MyApp">

                        <md-button class="md-primary md-raised" ng-click="showTabDialog($event)">
                            Create
                        </md-button>


                        <script type="text/ng-template" id="tabDialog.tmpl.html">
                            <md-dialog aria-label="Mango (Fruit)">
                            <md-toolbar>
                                <div class="md-toolbar-tools">
                                    <h2>Create Product</h2>
                                    <span flex></span>
                                    <md-button class="md-icon-button" ng-click="cancel()">
                                        <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-dialog-content style="max-width:800px;max-height:810px; ">
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="Create">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-1">Create Forms</h1>
                                            <div class="">
                                                <div class="">
                                                    <form name="createForm"  enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            <label for="name">Product Name:</label>
                                                            <input name="name" type="text" ng-model="Product.name"  ng-minlength="3" required class="form-control" id="name">
                                                            <div ng-messages="createForm.Name.$error">
                                                                <div ng-message="required">This is required!</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="real-price" >Price</label>
                                                            <input name="price" type="text" ng-model="Product.price"  required id="real-price" class="form-control">
                                                            <div ng-if="createForm.Price.$error">
                                                                <div ng-if="createForm.Price.$error.required">This is required!</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="description">Description:</label>
                                                            <textarea name="description" class="form-control" ng-model="Product.description"  ng-minlength="5" required id="description"></textarea>
                                                            <div ng-messages="createForm.Description.$error">
                                                                <div ng-message="required">This is required!</div>
                                                            </div>
                                                        </div>

                                                        <input name="image" ng-model="Product.images" required  image="Product.images" type="file" accept="image/*" multiple
                                                               image="images"
                                                               resize-max-height="300"
                                                               resize-max-width="250" />
                                                        <img class="img-thumbnail" ng-repeat="img in Product.images" />
                                                    </form>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Sentence" ng-disabled="createForm.$invalid">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-1">Create Sentence</h1>
                                            <div class="">
                                                <div class="">
                                                    <form name="reviewForm"  enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            <label for="title">Subject:</label>
                                                            <input name="name" type="text" ng-model="Review.title"  ng-minlength="3" required class="form-control" id="title">
                                                            <div ng-messages="Review.title.$error">
                                                                <div ng-message="required">This is required!</div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="rdescription">Message:</label>
                                                            <textarea name="rdescription" class="form-control" ng-model="Review.description"  ng-minlength="5" required id="rdescription"></textarea>
                                                            <div ng-messages="Review.description.$error">
                                                                <div ng-message="required">This is required!</div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Reviewsdef"   ng-disabled="reviewForm.$invalid || createForm.$invalid">
                                        <md-content class="md-padding">
                                            <h3>Assess the form</h3>
                                            <div>
                                                <div star-rating ng-model="rating" max="10" on-rating-select="rateFunction(rating)"></div>

                                                <div><strong>Rating</strong> {{rating}}</div>
                                            </div>

                                            <button type="submit" ng-click="create(Product,Review)"  ng-disabled="createForm.$invalid" class="btn btn-default">Submit</button>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-dialog-content>
                        </md-dialog>
                        </script></div>
                    <h1>Products</h1>
                    <div class="col-md-20 col-sm-30" ng-repeat="product in products">
                        <div class="">
                            <div class="prod-cont">
                                <img class="img-responsive" ng-if="product.images" ng-src="{{product.images[0]}}" alt="">
                                <h2><a ng-click="singleProduct(product.id)">{{product.name}}</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="showCont['createProduct']"  ng-controller="CreateProductController">
                    <div class="">
                        <form  enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name">Product Name:</label>
                                <input type="text" ng-model="Product.name" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="real-price" >Price</label>
                                <input type="text" ng-model="Product.price" id="real-price" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" ng-model="Product.description" id="description"></textarea>
                            </div>

                            <input ng-model="Product.images"   image="Product.images" type="file" accept="image/*" multiple
                                   image="images"
                                   resize-max-height="300"
                                   resize-max-width="250" />
                            <img class="img-thumbnail" ng-repeat="img in Product.images" />


                            <button type="submit" ng-click="create(Product)" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="" ng-show="showCont['singleProduct']"  >
                    <div class="col-md-20">
                        <h2 class="black-color">{{singleProductObj.name}}</h2>
                        <p class="black-color">{{singleProductObj.price}}</p>
                        <p class="black-color">{{singleProductObj.description}}</p>
                    </div>
                    <div class="col-md-40"></div>
                </div>
            </div>

        </section>
    </div>
</div>






