<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-50 col-md-offset-40  col-md-10 col-sm-20">
                <h2><a href="#!/logout">Logout</a></h2>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid" >
    <div class="row">
        <section>
            <div class="col-md-15 col-sm-15">
                <md-sidemenu locked="true">
                    <md-sidemenu-group>
                        <md-sidemenu-content  md-heading="Product">
                            <md-sidemenu-button href="#!/product" ng-click="allProduct()">All Products</md-sidemenu-button>
                            <md-sidemenu-button href="#!/product" ng-click="createProduct()">Create Product</md-sidemenu-button>
                        </md-sidemenu-content>
                        <md-sidemenu-content href="#!/auction" md-heading="Auction">
                            <md-sidemenu-button href="#!/auction" ng-click="allAuction()">All Auctions</md-sidemenu-button>
                            <md-sidemenu-button href="#!/auction" ng-click="createAuction()">Create Auction</md-sidemenu-button>
                        </md-sidemenu-content>
                    </md-sidemenu-group>
                </md-sidemenu>
            </div>

            <div class="col-md-45 col-sm-45">
                <div class=""ng-show="showCont['allProduct']" >
                    <div ng-controller="AppCtrl" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-app="MyApp">

                        <md-button class="md-primary md-raised" ng-click="showTabDialog($event)">
                            Create
                        </md-button>


                        <script type="text/ng-template" id="tabDialog.tmpl.html">
                            <md-dialog aria-label="Mango (Fruit)">
                            <md-toolbar>
                                <div class="md-toolbar-tools">
                                    <h2>Create Product</h2>
                                    <span flex></span>
                                    <md-button class="md-icon-button" ng-click="cancel()">
                                        <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-dialog-content style="max-width:800px;max-height:810px; ">
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="Create">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-1">Create Forms</h1>
                                            <div class="">
                                                <div class="">
                                                    <form name="createForm"  enctype="multipart/form-data">
                                                        <div class="form-group">
                                                            <label for="name">Product Name:</label>
                                                            <input name="name" type="text" ng-model="Product.name"  ng-minlength="3" required class="form-control" id="name">
                                                            <div ng-messages="createForm.Name.$error">
                                                                <div ng-message="required">This is required!</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="real-price" >Price</label>
                                                            <input name="price" type="text" ng-model="Product.price"  required id="real-price" class="form-control">
                                                            <div ng-if="createForm.Price.$error">
                                                                <div ng-if="createForm.Price.$error.required">This is required!</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="description">Description:</label>
                                                            <textarea name="description" class="form-control" ng-model="Product.description"  ng-minlength="5" required id="description"></textarea>
                                                            <div ng-messages="createForm.Description.$error">
                                                                <div ng-message="required">This is required!</div>
                                                            </div>
                                                        </div>

                                                        <input name="image" ng-model="Product.images" required  image="Product.images" type="file" accept="image/*" multiple
                                                               image="images"
                                                               resize-max-height="300"
                                                               resize-max-width="250" />
                                                        <img class="img-thumbnail" ng-repeat="img in Product.images" />


                                                        <button type="submit" ng-click="create(Product)"  ng-disabled="createForm.$invalid" class="btn btn-default">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Auction" ng-disabled="createForm.$invalid">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-2" >Tab Two</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                                            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Review"  ng-disabled="!reviewActive">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-2">Tab Three</h1>
                                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-dialog-content>

                            <md-dialog-actions layout="row">
                                <span flex></span>
                                <md-button ng-click="next()" ng-disabled="!isValidProductForm" >
                                    Next
                                </md-button>
                            </md-dialog-actions>
                        </md-dialog>
                        </script></div>
                    <h1>Products</h1>
                    <div class="col-md-20 col-sm-30" ng-repeat="product in products">
                        <div class="">
                            <div class="prod-cont">
                                <img class="img-responsive" ng-if="product.images" ng-src="{{product.images[0]}}" alt="">
                                <h2><a ng-click="singleProduct(product.id)">{{product.name}}</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="showCont['createProduct']"  ng-controller="CreateProductController">
                    <div class="">
                        <form  enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name">Product Name:</label>
                                <input type="text" ng-model="Product.name" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="real-price" >Price</label>
                                <input type="text" ng-model="Product.price" id="real-price" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" ng-model="Product.description" id="description"></textarea>
                            </div>

                            <input ng-model="Product.images"   image="Product.images" type="file" accept="image/*" multiple
                                   image="images"
                                   resize-max-height="300"
                                   resize-max-width="250" />
                            <img class="img-thumbnail" ng-repeat="img in Product.images" />


                            <button type="submit" ng-click="create(Product)" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="" ng-show="showCont['singleProduct']"  >
                    <div class="col-md-20">
                        <h2 class="black-color">{{singleProductObj.name}}</h2>
                        <p class="black-color">{{singleProductObj.price}}</p>
                        <p class="black-color">{{singleProductObj.description}}</p>
                    </div>
                    <div class="col-md-40"></div>
                </div>
            </div>

        </section>
    </div>
</div>






