<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="user-cont">
                <div class="img-cont">
                    <img class="img-thumbnail" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="">
                </div>
                <div class="user-info">
                    <ul>
                        <li>
                            <p ng-click="$ctrl.test()">test</p>
                        </li>
                        <li>
                            <p>{{$ctrl.email}}</p>
                        </li>
                        <li>
                            <p>{{$ctrl.name}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-40">


        </div>
    </div>
</div>