<div class="container">
    <div class="col-md-35">
        <h1>{{product.name}}</h1>
        <img ng-src="{{product.images[0]}}" alt="">
        <p>{{product.description}}</p>
    </div>
    <div class="col-md-25">
        <div class="auction-left-sidebar">
            <div class="price-cont">
                <span class="price"><p>Текущая цена:</p>
                <span>359.0 rub</span></span>
            </div>
            <div class="time-cont">
                <p>АУКЦИОН ЗАВЕРШЕН</p>
                <p><span>20.05.1996</span></p>
            </div>
            <div class="orders-cont">
                <p>Wintesr: <span>User1</span></p>

                <div class="orders">

                </div>
            </div>
        </div>
        <conditions-auction></conditions-auction>
    </div>
</div>
